body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

h1 {
    color: white;
    margin: 0;
    font-weight: normal;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 20px 0;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.2s;
    -moz-transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

#controlbar {
    background: white;
    height: 30px;
    text-align: center;
}

#gameboard {
    margin: 20px auto;
    max-width: 600px;
}

#correctcolor {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 15%;
    padding-left: 85px;
}

#titlebar {
    /* height: 100px; */
    background: steelblue;
    text-align: center;
    margin: 0;
    transition: background 0.2s;
    -moz-transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.selected {
    background: steelblue;
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

button:hover {
    color: white;
    background: steelblue;
}